

@media (max-width : 1535px) {
    header {
        width: 98%;
    }
    .main-banner {
        width: 98%;
        margin-left: 20px;
    }
}



@media (max-width : 768px) {
    /* .cards{
        flex-direction: column;
    } */
    .cards .first-card , .cards .second-card , .cards .third-card  , .cards .fourth-card{
        width: 150px;
        margin: 8px !important;
    }
    .cards .first-card h1 , .cards .second-card h1 , .cards .third-card h1 , .cards .fourth-card h1 {
        font-size: 1.9rem;
    }
    .cards .first-card p , .cards .second-card p , .cards .third-card p , .cards .fourth-card p {
        font-size: 0.8rem;
        text-align: center;
    }
    .cards .first-card , .cards .second-card , .cards .third-card , .cards .fourth-card {
        margin-bottom: 20px;
    }
    .hamburger-icon {
        display: block;
    }

    .navbar {
        display: none;
    }

    .intro video {
        width:80%;
    }

    .main-banner {
        padding: 0;
        margin: 0;
    }

    .first-section .text p:last-child {
        text-align: center;
        font-size: 1.1rem;
        line-height: 27px;
        width: 90%;
    }

    .items {
        width: 100%;
        flex-direction: column;
    }

    .text-item #last-p {
        text-align: justify;
        width: 100%;
    }

    .picture img {
        width: 350px;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
    }

    
}


@media (max-width : 576px ) {
    .cards {
        flex-direction: column;
    }

    .picture #second {
        width: 80%; 
    }

    header {
        width: 90%;
    }
}